<!DOCTYPE html>
<html>
  <head as-element="_head"></head>

  <body aurelia-app="main">
    <require from="src/_layouts/_head.html"></require>
    <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
